allow dpmd qmuxd:unix_stream_socket connectto;
allow dpmd qmuxd_socket:dir { add_name write };
allow dpmd qmuxd_socket:sock_file { create_file_perms };
allow dpmd self:capability dac_override;
allow dpmd socket_device:dir { add_name write };
allow dpmd socket_device:sock_file create;
